.listPages{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: relative;
  margin-left: -40px;
}

.divTitle{
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10rem; 
}

.contApps{
  background-color: rgba(124, 103, 128, 0.774);
  width: 80%;
  height: 80%;
  padding: 100px;
  border-radius: 20px;
  margin-bottom: 100px;
}