.divNav{
    margin-top: 0px;
    height: 80px;
    width: 100%;
    position: fixed;
    right: 10px;
    z-index: 9999;
    background: linear-gradient(to top, rgb(24, 14, 26) 20% , #100b1a 100%);
    opacity: .8;
    transition-duration: 1s;
}

.divNav:hover{
    opacity: 1;
}

.ulNav{
    display: flex;
    padding-left: 3rem;
}

.ulMenu{
    display: flex;
    color: white;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: thin;
    font-size: 15px;
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
}

.ulMenu>li{
    margin-right: 40px;
    margin-top: 15px;
    transition-duration: .4s;
}

.ulMenu>li:hover{
    filter: drop-shadow(0px 0px 4px green);
}


.terminalkillerLogo{
    margin-top: -20px;
}