.contLandingPage{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url(../../images/background.png);
    background-color: blueviolet;
    background: linear-gradient(168deg, rgb(126, 71, 197) 50% , #94086a 100%);  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
}

.listPages{
    margin-top: 0px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: auto;
    width: 50vw;
    position: relative;
    left: 25vw;
    margin-left: -40px;
    
}

.bgCanvas{
    background: linear-gradient(to bottom, #000000cf, rgba(255, 255, 255, 0) 15%);
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.divTitle{
    position: relative;
    margin-top: 100px;
    width: 100vw;
    height: 100vh;
}