.contLandingPage{
    width: 100%;
    background-color: blueviolet;
    background: linear-gradient(168deg, rgb(89, 138, 146) 10% , #5e445b 80%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}